.cl-cache
**/__pycache__
.vscode
results/*
sample-media/*.mp4
docs/sitemap.xml.gz
docs/*
helm/kubernetes
helm/results

results/
efficientnet-b0/
ssd_mobilenet_v1_coco/
__pycache__
smoke_tests_output.log
grpc_predict_v2.proto
text-recognition-0012-mod
horizontal-text-detection-0002
models/
src/cl-cache/*

notebooks/model
notebooks/models
notebooks/checkout
notebooks/.ipynb_checkpoints
notebooks/__pycache__