.cl-cache
**/__pycache__
.vscode
results/*
sample-media/*.mp4
camera-simulator/rtsp_simple_server.log.txt
docs/sitemap.xml.gz

benchmark-scripts/results/
camera-simulator/rtsp_simple_server.log.txt
configs/dlstreamer/models/2022/efficientnet-b0/
configs/dlstreamer/models/2022/horizontal-text-detection-0001/
configs/dlstreamer/models/2022/horizontal-text-detection-0002/
configs/dlstreamer/models/2022/text-recognition-0012-GPU/
configs/dlstreamer/models/2022/text-recognition-0014/
configs/dlstreamer/models/2022/yolov5s/1/FP16-INT8/yolov5s.bin
configs/dlstreamer/models/2022/yolov5s/1/FP16-INT8/yolov5s.xml
configs/dlstreamer/models/2022/yolov5s/1/FP16/yolov5s.bin
configs/dlstreamer/models/2022/yolov5s/1/FP16/yolov5s.xml
configs/dlstreamer/models/2022/yolov5s/1/FP32-INT8/
configs/dlstreamer/models/2022/yolov5s/1/FP32/
configs/dlstreamer/models/2022/yolov5s/1/yolov5s.json
configs/opencv-ovms/images/sample-bottle.jpg
configs/opencv-ovms/models/2022/instance-segmentation-security-1040/
configs/opencv-ovms/models/2022/BiT_M_R50x1_10C_50e_IR/
configs/opencv-ovms/models/2022/yolov5s
configs/opencv-ovms/models/2022/person-vehicle-bike-detection-2000/
configs/opencv-ovms/models/2022/instance_segmentation_omz_1040/
configs/opencv-ovms/models/2022/person_vehicle_bike_detection_2000/
configs/opencv-ovms/models/2022/config.json
configs/opencv-ovms/grpc_go/results/
configs/opencv-ovms/cmd_client/ovms-client
configs/opencv-ovms/cmd_client/profile-launcher
!configs/opencv-ovms/scripts
!configs/opencv-ovms/envs
envs
scripts
ovms-client
profile-launcher
stream_density.sh
efficientnet-b0/
model_server/
