.cl-cache
**/__pycache__
.vscode
results/*
sample-media/*.mp4
camera-simulator/rtsp_simple_server.log.txt
docs/sitemap.xml.gz
docs/*

benchmark-scripts/results/
camera-simulator/rtsp_simple_server.log.txt
configs/opencv-ovms/images/sample-bottle.jpg
configs/opencv-ovms/models/2022/efficientnetb0/
configs/opencv-ovms/models/2022/config.json
configs/opencv-ovms/models/2022/config_ovms-server*.json
configs/opencv-ovms/models/2022/face-detection-retail-0005/
configs/opencv-ovms/models/2022/face-detect-retail-0005/
configs/opencv-ovms/models/2022/face-landmarks-0002/
configs/opencv-ovms/models/2022/face-reid-retail-0095/
configs/opencv-ovms/models/2022/instance-segmentation-security-1040/
configs/opencv-ovms/models/2022/instance_segmentation_omz_1040/
configs/opencv-ovms/models/2022/BiT_M_R50x1_10C_50e_IR/
configs/opencv-ovms/models/2022/yolov5s
configs/opencv-ovms/models/2022/ssd_mobilenet_v1_coco/
configs/opencv-ovms/models/2022/person-detection-retail-0013/
configs/opencv-ovms/models/2022/person_vehicle_bike_detection_2000/
configs/opencv-ovms/models/2022/person-vehicle-bike-detection-2000/
configs/opencv-ovms/models/2022/text-detect-0002/
configs/opencv-ovms/grpc_go/results/
configs/opencv-ovms/cmd_client/ovms-client
configs/opencv-ovms/cmd_client/profile-launcher
!configs/opencv-ovms/scripts
!configs/opencv-ovms/envs
envs
scripts
ovms-client
profile-launcher
stream_density.sh
efficientnet-b0/
model_server/
ssd_mobilenet_v1_coco/
__pycache__
smoke_tests_output.log
grpc_predict_v2.proto
