#
# Copyright (C) 2024 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#


 ## Current Developer Toolbox doesn't support environment files, make sure to remove any files or environment variables starting with $
version: '3.7'
services:
  camera-simulator:
    container_name: camera-simulator
    image: aler9/rtsp-simple-server
    ports:
      - "8554:8554"
  camera-simulator0:
    image: jrottenberg/ffmpeg:4.1-alpine
    container_name: camera-simulator0
    entrypoint: ["/bin/sh","-c"]
    command: 
    - | 
       if [ ! -f /home/pipeline-server/sample-media/coca-cola-4465029-1920-15-bench.mp4 ]; then
          mkdir -p /home/pipeline-server/sample-media
          wget -O /home/pipeline-server/sample-media/coca-cola-4465029-1920-15-bench.mp4 https://www.pexels.com/video/4465029/download
       fi
       ffmpeg -nostdin -re -stream_loop -1 -i /home/pipeline-server/sample-media/coca-cola-4465029-1920-15-bench.mp4 -c copy -f rtsp -rtsp_transport tcp rtsp://camera-simulator:8554/camera_0
    depends_on:
      - camera-simulator
    volumes:
      - ${RETAIL_USE_CASE_ROOT:-..}/performance-tools/sample-media:/home/pipeline-server/sample-media

  dlstreamer:
    image: dlstreamer:deploy
    deploy:
      mode: replicated
      replicas: 1
    entrypoint: /script/entrypoint.sh --pipeline_script_choice yolov5s.sh
    environment:
      - INPUTSRC=rtsp://camera-simulator:8554/camera_0
      - BATCH_SIZE=0
      - GST_DEBUG=0
      - LOG_LEVEL=ERROR
      - CLASSIFICATION_OPTIONS=reclassify-interval=1 $DETECTION_OPTIONS
      - DETECTION_OPTIONS=gpu-throughput-streams=4 nireq=4 batch-size=1
      - OCR_RECLASSIFY_INTERVAL=5
      - BARCODE_RECLASSIFY_INTERVAL=5
      - RENDER_MODE=0
      - PIPELINE_SCRIPT=yolov5s.sh
    depends_on:
      - camera-simulator0
