#
# Copyright (C) 2023 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#


 ## Current Developer Toolbox doesn't support environment files, make sure to remove any files or environment variables starting with $
version: '3.7'
services:
  camera-simulator:
    container_name: camera-simulator
    image: aler9/rtsp-simple-server
    ports:
      - "8554:8554"
  camera-simulator0:
    image: cam-sim:dev
    container_name: camera-simulator0
    entrypoint: ffmpeg
    command: "
        -nostdin
        -re -stream_loop -1
        -i /sample-media/00-coca-cola-4465029-1920-15-bench.mp4
        -c copy
        -f rtsp
        -rtsp_transport
        tcp
        rtsp://camera-simulator:8554/camera_0
        "
    depends_on:
      - camera-simulator
  dlstreamer:
    image: dlstreamer:dev
    deploy:
      mode: replicated
      replicas: 1
    entrypoint: /script/entrypoint.sh --pipeline_script_choice yolov5s.sh
    env_file: 
      - ../src/res/gst.env
      - ../src/res/all-cpu.env
    environment:
      - INPUTSRC=rtsp://camera-simulator:8554/camera_0
    depends_on:
      -  camera-simulator0
    volumes:
      - ./results:/tmp/results

