#
# Copyright (C) 2024 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#


 ## Current Developer Toolbox doesn't support environment files, make sure to remove any files or environment variables starting with $
services:
  
  ClientGst:
    image: dlstreamer:dev
    deploy:
      mode: replicated
      replicas: ${PIPELINE_COUNT:-1}
    network_mode: "host"
    entrypoint: /script/entrypoint.sh --pipeline_script_choice ${PIPELINE_SCRIPT:-yolo11n.sh}
    privileged: true
    ipc: "host"
    env_file:
      - .env
      - ${DEVICE_ENV:-res/all-cpu.env}
    environment:
      - CONTAINER_NAME=${CONTAINER_NAME}
      - INPUTSRC=${INPUTSRC}
      - INPUTSRC_AP1=${INPUTSRC_AP1}
      - INPUTSRC_OC1=${INPUTSRC_OC1}
      - RTSP_OUTPUT=${RTSP_OUTPUT}
      - RTSP_SERVER=${RTSP_SERVER}
      - RTSP_PATH=${RTSP_PATH}
      - RENDER_MODE=${RENDER_MODE}
    volumes:
      - ${RESULTS_DIR:-../results}:/tmp/results
      - ~/.Xauthority:/home/dlstreamer/.Xauthority
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.cl-cache:/home/pipeline-server/.cl-cache
      - ./res/:/home/pipeline-server/envs
      - ./pipelines:/home/pipeline-server/pipelines
      - ./extensions:/home/pipeline-server/extensions
      - ${RETAIL_USE_CASE_ROOT:-}/models:/home/pipeline-server/models