#
# Copyright (C) 2024 Intel Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#


 ## Current Developer Toolbox doesn't support environment files, make sure to remove any files or environment variables starting with $
services:
  camera-simulator:
    container_name: camera-simulator
    image: bluenviron/mediamtx
    ports:
      - "127.0.0.1:8554:8554"
  camera-simulator0:
    image: jrottenberg/ffmpeg:4.1-alpine
    container_name: camera-simulator0
    network_mode: "host"
    environment:
      - PIPELINE_SCRIPT=${PIPELINE_SCRIPT:-yolo11n.sh}
    entrypoint: ["/bin/sh", "/home/pipeline-server/src/start_stream.sh"]
    depends_on:
      - camera-simulator
    volumes:
      - ${RETAIL_USE_CASE_ROOT:-..}/performance-tools/sample-media:/home/pipeline-server/sample-media
      - ./start_stream.sh:/home/pipeline-server/src/start_stream.sh

  ClientGst:
    # Note: Latency benchmarks were run using a locally-built image (pipeline-runner-asc:latest)
    # based on DLStreamer 2025.0.1-ubuntu24 with Intel NPU drivers for Lunar Lake.
    # Build with: make build (uses Dockerfile in this repo)
    image: dlstreamer:dev
    deploy:
      mode: replicated
      replicas: ${PIPELINE_COUNT:-1}
    network_mode: "host"
    entrypoint: /script/entrypoint.sh --pipeline_script_choice ${PIPELINE_SCRIPT:-yolo11n.sh}
    privileged: true
    ipc: "host"
    env_file:
      - .env
      - ${DEVICE_ENV:-res/all-cpu.env}
    environment:
      - CONTAINER_NAME=${CONTAINER_NAME}
      - INPUTSRC=${INPUTSRC}
      - INPUTSRC_AP1=${INPUTSRC_AP1}
      - INPUTSRC_OC1=${INPUTSRC_OC1}
      - RTSP_OUTPUT=${RTSP_OUTPUT}
      - RTSP_SERVER=${RTSP_SERVER}
      - RTSP_PATH=${RTSP_PATH}
      - RENDER_MODE=${RENDER_MODE}
      # Latency and inference configuration - allow shell overrides
      - LOW_LATENCY=${LOW_LATENCY:-0}
      - MEDIUM_LATENCY=${MEDIUM_LATENCY:-0}
      - INFERENCE_INTERVAL=${INFERENCE_INTERVAL:-1}
      - BATCH_SIZE_DETECT=${BATCH_SIZE_DETECT:-1}
      - BATCH_SIZE_CLASSIFY=${BATCH_SIZE_CLASSIFY:-1}
    volumes:
      - ${RESULTS_DIR:-../results}:/tmp/results
      - ../performance-tools/sample-media:/home/pipeline-server/sample-media
      - ~/.Xauthority:/home/dlstreamer/.Xauthority
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.cl-cache:/home/pipeline-server/.cl-cache
      - ./res/:/home/pipeline-server/envs
      - ./pipelines:/home/pipeline-server/pipelines
      - ./extensions:/home/pipeline-server/extensions
      - ${RETAIL_USE_CASE_ROOT:-}/models:/home/pipeline-server/models
    restart: on-failure
