name: reviewdog
on: 
  pull_request:
    types: [assigned, opened, synchronize, reopened]
jobs:
  reviewdog:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
        - name: Install shellcheck
          run: |
            sudo apt install shellcheck
        - name: Install bandit
          run: |
            pip install bandit && bandit --version
        - name: Install pep8
          run: |
              sudo apt install pep8
        - name: Install hadolint
          env:
            HADOLINT_VERSION: v1.16.3
          run: |
            wget -q https://github.com/hadolint/hadolint/releases/download/$HADOLINT_VERSION/hadolint-Linux-x86_64 -O /tmp/hadolint \
            && chmod +x /tmp/hadolint
        
        - uses: actions/checkout@v3
        - name: Install reviewdog
          run: |
            curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s
        - name: Run Reviewdog
          env:
            REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.REVIEWDOGTOKEN }}
            REVIEWDOG_FAIL_ON_ERROR: 'true'
          run: |
            ls -a
            ls ./bin -a
            echo $REVIEWDOG_GITHUB_API_TOKEN
            echo $REVIEWDOGTOKEN
            ./bin/reviewdog -conf .reviewdog.yml -reporter=github-pr-review
            

        
        
